
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

html, body {
    margin: 0;
    padding: 0;
    /* background-color: #000000; */
  }
  a {
    text-decoration: none;
    color: #fd680e;
  }
  
  a:hover {
    color: #ff8f4c;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6, .font-primary {
    font-family: "Raleway", sans-serif;
  }
  
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  
  #header {
    height: 80px;
    position: relative;
    z-index: 10;
    padding: 0px 0;
  
   
  }
  .border{
    border: #ed3c0d 2px solid;
  }
  .btn{
    background-color: #fd680e;
    align-items: center;
  }
  #header .logo h1 {
    font-size: 36px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 3px;
  }
  #header .logo h1 a, #header .logo h1 a:hover {
    /* color: #fff; */
    text-decoration: none;
  }
  #header .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
  }
  @media (max-width: 768px) {
    #header .logo h1 {
      font-size: 28px;
      padding: 8px 0;
    }
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  .abcd{
    position: absolute;
    background-color: blue;
  }
  .nav-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 9999;
    overflow-y: auto;
    right: -260px;
    width: 260px;
    padding-top: 18px;
    background: rgba(34, 34, 34, 0.8);
    transition: 0.4s;
  }
  .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .nav-menu a, .nav-menu a:focus {
    display: block;
    position: relative;
    color: #ffd2b7;
    padding: 10px 20px;
    font-weight: 500;
    transition: 0.3s;
  }
  .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: #ffa26a;
    text-decoration: none;
  }
  .nav-menu .drop-down > a:after {
    content: "\ea27";
    font-family: "boxicons";
    padding-left: 10px;
    position: absolute;
    right: 15px;
  }
  .nav-menu .active.drop-down > a:after {
    content: "\ea27";
  }
  .nav-menu .drop-down > a {
    padding-right: 35px;
  }
  .nav-menu .drop-down ul {
    display: none;
    overflow: hidden;
  }
  .nav-menu ul.drop-down-active {
    display: block;
  }
  .nav-menu .drop-down li {
    padding-left: 20px;
  }
  
  .nav-menu-active {
    right: 0;
  }
  
  .nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: rgba(34, 34, 34, 0.5);
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
    padding: 10px 12px;
    border-radius: 2px;
  }
  .nav-toggle i {
    /* color: #fff; */
    font-size: 18px;
  }
  
  .nav-toggle-active {
    right: 275px;
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /**
  * Desktop Navigation 
  */
  .navbar {
    padding: 0;
  }
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  .navbar li {
    position: relative;
  }
  .navbar a, .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #884922;
    white-space: nowrap;
    transition: 0.3s;
  }
  .navbar a i, .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  .navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
    color: #fd680e;
  }
  .navbar .getstarted, .navbar .getstarted:focus {
    background: #fd680e;
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 4px;
    color: #fff;
  }
  .navbar .getstarted:hover, .navbar .getstarted:focus:hover {
    color: #fff;
    background: #fd7827;
  }
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    /* background: #fff; */
      background-color: transparent; 
  
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
  }
  .navbar .dropdown ul li {
    min-width: 200px;
  }
  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
  }
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
    color: #fd680e;
  }
  .navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  .navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
    .navbar .dropdown .dropdown:hover > ul {
      left: -100%;
    }
  }
  
  /**
  * Mobile Navigation 
  */
  .mobile-nav-toggle {
    color: #743e1d;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
  }
  .mobile-nav-toggle.bi-x {
    color: #fff;
  }
  
  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
  
    .navbar ul {
      display: none;
    }
  }
  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(75, 40, 19, 0.9);
    transition: 0.3s;
  }
  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
  }
  .navbar-mobile a, .navbar-mobile a:hover {
    padding: 10px 20px;
    font-size: 15px;
    color: #743e1d;
  }
  .navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
    color: #fd680e;
  }
  .navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
    margin: 15px;
  }
  .navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  }
  .navbar-mobile .dropdown ul li {
    min-width: 200px;
  }
  .navbar-mobile .dropdown ul a {
    padding: 10px 20px;
  }
  .navbar-mobile .dropdown ul a i {
    font-size: 12px;
  }
  .navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
    color: #fd680e;
  }
  .navbar-mobile .dropdown > .dropdown-active {
    display: block;
  }
  
  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  #hero {
    width: 100%;
    background-color: #000000;
    height: 70vh;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyUIG8uV72vKPKIhbrq23sYSkzdOBpXwTejaHuRjJZDBXhsnzxuo9tnZzMb4KuTyApd-c&usqp=CAU") center center;
    background-size: cover;
    /* position: relative; */
    /* margin-top: -80px;
    z-index: 9; */
    
  }
  #hero .hero-container {
    /* position: absolute; */
    /* bottom: 0;
    top: 0;
    left: 0;
    right: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
  }
  #hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    line-height: 56px;
    color: rgb(255, 255, 255);
  }
  #hero h2 {
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
    font-size: 24px;
  }
  #hero .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  #hero .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  #hero .php-email-form .loading {
    display: none;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 15px;
    border-radius: 50px;
  }
  #hero .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading-notify 1s linear infinite;
    animation: animate-loading-notify 1s linear infinite;
  }
  @-webkit-keyframes animate-loading-notify {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes animate-loading-notify {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  #hero .php-email-form input {
    border-radius: 50px;
    box-shadow: none;
    font-size: 14px;
    border: 0;
    padding: 0px 15px 2px 20px;
    width: 250px;
    height: 40px;
    margin: 0 8px;
  }
  /* #hero .php-email-form button[type=submit] {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: none;
    color: #fff;
    border-radius: .5em;
    background: #fd680e;
  }
  #hero .php-email-form button[type=submit]:hover {
    background: gold;
  } */
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  @media (max-width: 768px) {
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
    #hero .php-email-form input {
      margin: 0 auto;
    }
  }
  
  /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  section {
    padding: 80px 0;
  }
  
  .section-bg {
    background-color: #fff7f2;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  .section-title h2 {
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 20px;
    padding-bottom: 15px;
    position: relative;
  }
  .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 80px;
    height: 1px;
    background: #fd680e;
    bottom: 0;
    left: calc(50% - 40px);
  }
  .section-title p {
    margin-bottom: 0;
    font-style: italic;
    color: #ffffff;
  }
  
  /*--------------------------------------------------------------
  # About
  --------------------------------------------------------------*/
  .about h3 {
    font-weight: 300;
    font-size: 26px;
  }
  .about ul {
    list-style: none;
    padding: 0;
  }
  .about ul li {
    padding-bottom: 10px;
  }
  .about ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #fd680e;
  }
  .about p:last-child {
    margin-bottom: 0;
  }
  
  
  /*--------------------------------------------------------------
  # Bridge Details
  --------------------------------------------------------------*/
  .bridge_tx{
    align-items: center;
    max-width: 90%;
    margin: auto;
  }
  .bridge_box{
    border: #fd7827 2px solid;
    background-color: #fff7f2 ;
    max-width: 100%;
    margin: auto;
    border-radius: 2em;
    padding: 1em;
    padding-top: 0;
  }
  .faq-list {
    text-align: center;
    padding: 0;
    list-style: none;
  }
  .faq-list li {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  .faq-list a {
    display: block;
    position: relative;
    font-family: #fd680e;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    padding-right: 25px;
    cursor: pointer;
  }
  .faq-list i {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
  }
  .faq-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
  }
  .faq-list .icon-show {
    display: none;
  }
  .faq-list a.collapsed {
    color: #030405;
  }
  .faq-list a.collapsed:hover {
    color: #fd680e;
  }
  .faq-list a.collapsed .icon-show {
    display: inline-block;
  }
  .faq-list a.collapsed .icon-close {
    display: none;
  }
  .btn-primary{
    background-color: #fd680e !important;
    border: #fd680e 2px solid !important;
    border-radius: none !important;
    /* margin-botts /som:  px; */
  }
  
  
  /*--------------------------------------------------------------
  # Contact Us
  --------------------------------------------------------------*/
  .info {
    color: white;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  
  .info p {
    line-height: 22px;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 2px;
  }
  .info .email p {
    padding-top: 5px;
  }
  .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #000000;
    color: #fff;
    line-height: 1;
    padding: 8px 6px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    margin: 1em;
  }
  .social-links a:hover {
    background: #fd680e;
    color: #fff;
  }
  .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  .php-email-form .error-message br + br {
    margin-top: 25px;
  }
  .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  .php-email-form input, .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  .php-email-form input:focus, .contact .php-email-form textarea:focus {
    border-color: #fd680e;
  }
  /* .php-email-form button[type=submit] {
    background: #fd680e;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: .5em;
  }
  .php-email-form button[type=submit]:hover {
    background: #fd8841;
  } */
  .social-links {
    text-align: center;
   
  
  }
  @media (max-width: 768px) {
    .social-links {
      text-align: center;
      margin-left: 1em;
    }
  }
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  #footer {
    /* background: linear-gradient(60deg, #f79533,#f79533, #4b3e32,#301a02,#f79533,#f5bd84); */
    background: #2f1708;
    padding: 30px 0;
    color: #fff;
    font-size: 14px;
  }
  #footer .copyright {
    text-align: center;
  }
  #footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
  }
  /*--------------------------------------------------------------
  # About Us
  --------------------------------------------------------------*/
  
  .container-mission{
    margin-top: 3em;
  }
  .mission-statement p{
    max-width: 80%;
    margin: auto;
    padding: 1em;
    color: #000000;
    /* text-align: cssenter; */
  }
  .profiles{
   display: flex;
   margin-bottom: 8em;
   max-width: 80%;
   margin: auto;
   justify-content: space-between;
   margin-bottom: 7em;
   align-items: center;
  
  }
  .profile-img{
    max-width: 60%;
    margin: auto;
    margin-top: 1em;
  
  }
  .profile{
    max-width: 30%;
    display: flex;
    flex-direction: column;
    border:#fd680e 2px solid;
    background-color: #fbf6f3;
    text-align: center;
    border-radius: 2em;
  }
  
  /*--------------------------------------------------------------
  # Crypto Feeds
  --------------------------------------------------------------*/
  .container-live{
    max-width: 90%;
    margin: auto;
    display: flex;
    margin-top: 0px;
  }
  
  
  .crypto_logo{
    align-items: center;
    max-width: 60%;
    max-height: 12em;
    padding: 1em;
  }
  .coin-price{
    background-color:#fff7f2;
    margin: 2em ;
    padding: .5em .5em;
    border-radius: 2em;
    text-align: center;
    border: #fd7827 .25px dotted;
  }
  
  .coin-price:hover{
    box-shadow: 0px 0px 15px .2px #fd7827;
  }
  
  
  .orange_neon{
    text-align: center;
    color: rgb(248, 244, 242);
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fd680e, 0 0 20px #fd680e, 0 0 25px #fd680e, 0 0 30px #fd680e, 0 0 35px #fd680e;
    font-size: 5em;
  
  }
  .hero_title{
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;
    /* align-istems: center; */
  }
  
  .hero_text{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction:column ;
  
  }
  
  .hero_logo{
    max-height:25em ;
  }
  

  .container {
    position: relative;
    display: inline-block;
    max-width: 100%;

  }

  .button_wc {
    padding: .5em;
    
    width: 100%;
    margin: 0 auto;
    border: #fd8841 2px solid;
    border-radius: 1em;
    background-color: #fff;
    color: #fd8841;
    cursor: pointer;
    outline: 0;
    font-size: 1em;
  }

  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 150px;
    z-index: 2;
    border: 1px solid fd8841(0, 0, 0, 0.04);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
  }
  
  .wallet_list {
    width: 150px;
    list-style: none;
    display:flex;
    flex-direction: column;  
    
 
  }
  .wallet {
    width: 100%;
    margin-top: .5em;
    border: #fd8841 2px solid !important;
    border-radius: 1em;
    padding: .5em 7em;
    
  }
  
  .wallet:hover {
    background-color: white;
    opacity: 0.7;
    cursor: pointer;
  } 

  .type_font{
    font-size:large;
    text-align: center;
  }

  .neon_btn {
    padding: .15em .5em;
    width: 100%;
    margin: 0 auto;
      border-width: 1px;
    border-style: solid;
    border-color: #fd8841 #ffff00 #ffff00 #fd8841;
    border-radius: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    color: transparent;
    background-image: linear-gradient(to bottom right, #fd8841, #ffd000);
    background-clip: text;
    box-shadow: -2px -2px 0.5rem #fd8841,
        2px 2px 0.5rem inset #fd8841,
        2px 2px 0.5rem #d7731686,
        -2px -2px 0.5rem inset #ecec1286;
}

.neon_btn:hover {
    color: #101010;
    background-clip: border-box;
    box-shadow: -0.5rem -0.25rem 1.5rem #fd8841,
        0.5rem 0.25rem 1.5rem #f6c7508f;
}


.gradient-border {
  position: relative;
  border-radius: .25em;
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * .25em);
  left: calc(-1 * .25em);
  height: calc(100% + .25em * 2);
  width: calc(100% + .25em * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #f29e31, #f4f25f, #ed946a, #d86837, #a35705, #d8ac0d);
  border-radius: calc(2 * .25em);
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
  